<table class="table table-hover">
  <tr *ngFor="let paymentDetail of this.service.paymentList" >
    <td (click)="populatePayment(paymentDetail)" >
      {{ paymentDetail.CardOwnerName }}
    </td>
    <td (click)="populatePayment(paymentDetail)">
      {{ paymentDetail.CardNumber }}
    </td>
    <td (click)="populatePayment(paymentDetail)">
      {{ paymentDetail.ExpirationDate }}
    </td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="deletePayment(paymentDetail.PMId)" ></i>
    </td>
  </tr>
</table>
